/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* start editing from here */

a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
}


/* text align right */

.txt-lt {
	text-align: left;
}


/* text align left */

.txt-center {
	text-align: center;
}


/* text align center */

.float-rt {
	float: right;
}


/* float right */

.float-lt {
	float: left;
}


/* float left */

.clear {
	clear: both;
}


/* clear float */

.pos-relative {
	position: relative;
}


/* Position Relative */

.pos-absolute {
	position: absolute;
}


/* Position Absolute */

.vertical-base {
	vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
	vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
	display: block;
}


/* vertical menu */

nav.horizontal ul li {
	display: inline-block;
}


/* horizontal menu */

img {
	max-width: 100%;
}


/*end reset*/


/*----start-wrap-----*/

.wrap {
	width: 80%;
	margin: 0 auto;
}


/*---start-header-----*/

.header {
	background: #222222;
	border-bottom: 5px solid #f5c34c;
}

.logo {
	float: left;
	margin-top: 2.3em;
}

.top-nav {
	float: right;
}

.top-nav ul li {
	display: inline-block;
	float: left;
}

.top-nav ul li a {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	display: block;
	padding: 45px 30px 40px 30px;
	display: block;
	text-transform: uppercase;
}

.top-nav li.active>a,
.top-nav li>a:hover {
	color: #FFC809;
	background: url(../images/marker.png) 50% 100%no-repeat;
}


/*----start-content-----*/

.top-grids {
	padding: 4.5em 0;
	font-family: 'Open Sans', sans-serif;
	background: url(../images/car.png) no-repeat 78% 71% #f5c34c;
}

.top-grids h3 {
	color: #FFF;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
}

.top-grids h2 {
	color: #FFF;
	font-size: 8em;
	text-transform: uppercase;
	font-weight: bold;
}

.top-grids h4 {
	color: #FFF;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.top-grids ul li {
	display: inline-block;
	float: left;
}

.top-grids ul li a {
	display: block;
}

.what {
	padding: 25px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
	text-transform: uppercase;
	background: #FFF;
	color: #222;
}

.what:hover {
	background: #222;
	color: #FFF;
}

.join {
	padding: 25px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
	text-transform: uppercase;
	background: #222;
	color: #FFF;
}

.join:hover {
	background: #FFF;
	color: #222;
}


/*---start-mid-grids-----*/

.mid-grids {
	padding: 4em 0 5em 0;
	background: url(../images/bottom-bg.png) no-repeat 50% 101% #222;
}

.mid-grid {
	float: left;
	width: 31.33%;
	margin-right: 2%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.mid-grid h3 {
	color: #FFF;
	font-size: 3em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.mid-grid h4 {
	color: #99834D;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	padding: 0.5em 0;
}

.mid-grid p {
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.875em;
	line-height: 1.8em;
	margin-bottom: 1em;
	width: 90%;
	margin: 0 auto 1em auto;
}

.button {
	color: #FFF;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding: 0.5em 0px 0px 0px;
}

.button:hover {
	color: #f5c34c;
}

.services {
	font-family: 'Open Sans', sans-serif;
	background: url(../images/bottom-bg.png) no-repeat 50% 101% #FFF;
	padding: 3em 0 3em;
}

.services h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	color: #363638;
	text-transform: uppercase;
	padding: 1em 0 0 0;
}


/*----bottom-grids-----*/

.bottom-grids {
	padding: 5em 0 4em 0;
	background: #f5c34c;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.social-links {
	text-align: center;
}

.social-links ul li {
	display: inline-block;
}

.social-links ul li a {
	font-size: 1em;
	color: #FFF;
	text-transform: uppercase;
	margin: 0em 2em 0em 0em;
	font-weight: bold;
	display: inline-block;
}

.mobile-no {
	text-align: center;
}

.mobile-no span {
	font-size: 6em;
	text-transform: uppercase;
	color: #FFF;
	font-weight: bold;
	padding: 0.2em 0 0.1em 0;
	display: block;
}

.footer-logo {
	text-align: center;
}

.footer-logo a {
	font-size: 3em;
	color: #FFF;
	text-transform: uppercase;
}

.copy-right {
	text-align: center;
}

.copy-right p {
	font-size: 1em;
	text-transform: uppercase;
	color: #FFF
}

.copy-right a {
	color: #222;
	margin: 1em 0;
	display: inline-block;
}

.copy-right a:hover {
	color: #FFF;
}


/*** move top **/

.scroll {
	width: 48px;
	height: 48px;
	border: none;
	display: block;
	text-indent: 100%;
	background: url(../images/top-icon.png) no-repeat right top;
	position: absolute;
	right: 14px;
	bottom: 5px;
}

.scroll:hover {
	opacity: 0.8;
}


/*---about-us----*/

.about-us {
	padding: 3em 0em 4em;
}

.about-header h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	color: #363638;
	padding: 1em 0 0;
	text-transform: uppercase;
}

.about-info a {
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: #555;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	padding: 1em 0 0.5em 0;
	display: block;
}

.about-info a:hover {
	color: #f5c34c;
}

.about-info p {
	font-size: 0.875em;
	color: rgba(85, 81, 81, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}


/*-----specials-heading----*/

.specials-heading h5 {
	float: left;
	width: 33%;
	height: 1px;
	background: #D1D1D1;
	margin: 24px 0px 0px 0px;
}


/*----special-grid------*/

.special-grid {
	float: left;
	width: 32%;
	margin-right: 2%;
	text-align: center;
}

.specials {
	margin-top: 2em;
}

.special-grid img {
	width: 100%;
}

.special-grid a {
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: #555;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	padding: 0.3em 0;
	display: block;
}

.special-grid a:hover {
	color: #f5c34c;
}

.special-grid p {
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
}

.spe-grid {
	margin: 0px;
}

.specials-grids {
	padding: 25px 0 0px 0;
}


/*-----specials-heading----*/

.specials-heading h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	color: #363638;
	text-transform: uppercase;
}


/*----start-testmonial-grid----*/

.testmonial-grid {
	text-align: center;
}

.testmonial-grid h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	color: #363638;
	text-align: center;
	text-transform: uppercase;
	padding: 0em 0 0.5em 0;
}

.testmonial-grid p {
	font-size: 0.875em;
	color: rgba(85, 81, 81, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.8em;
}

.testmonial-grid a {
	font-size: 0.875em;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: #f5c34c;
}

.testmonials {
	padding: 4em 0 5em 0;
	background: url(../images/bottom-bg.png) no-repeat 50% 101% #222;
}


/*---start-what-we----*/


/*---start-gallery---*/

.gallerys {
	font-family: 'Open Sans', sans-serif;
	background: url(../images/bottom-bg.png) no-repeat 50% 101% #FFF;
	padding: 3em 0 3em;
}

.gallerys h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	color: #363638;
	text-transform: uppercase;
	padding: 1em 0;
}

.gallery-grid {
	width: 31.44%;
	float: left;
}

.gallery-grid p {
	font-size: 0.875em;
	padding: 0.2em 0em 1.2em 0em;
	color: #6a6a6a;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}

.gallery-button a {
	color: #222;
	font-size: 0.875em;
	text-transform: uppercase;
	padding: 0.8em;
	border: 1px solid #EEE;
	display: inline-block;
}

.gallery-button a:hover {
	background: #f5c34c;
	color: #FFF;
}

.grid2 {
	margin: 0px 35px;
}

.gallery-grids {
	margin-bottom: 30px;
}

.projects-bottom-paination ul li {
	display: inline-block;
}

.projects-bottom-paination {
	text-align: center;
	padding: 20px 0;
	font-family: 'Open Sans', sans-serif;
}

.projects-bottom-paination li a {
	font: 400 12px/1.2em Arial;
	color: #5a5a5a;
	padding: 11px 18px;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid #e9e9e9;
	/*margin-top: 16px;*/
	display: inline-block;
}

.projects-bottom-paination li.active>a,
.projects-bottom-paination li>a:hover {
	background: #f5c34c;
	color: #fff;
}

.gallery-grid h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #363638;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
	padding: 13px 0px 2px 0px;
}

.gallery-grid h4:hover {
	color: #f5c34c;
}


/*---start-services----*/


/*  GRID OF Five   ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child {
	margin-left: 0;
}

.images_1_of_5 {
	width: 15.72%;
	padding: 1.5%;
	text-align: center;
}

.images_1_of_5 img {
	max-width: 100%;
	display: inline-block;
}

.images_1_of_5 h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #363638;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
	padding: 13px 0px 2px 0px;
}

.images_1_of_5 p {
	font-size: 0.875em;
	padding: 0.5em 0em;
	color: #6a6a6a;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}

.images_1_of_5 .button {}

.images_1_of_5 .button a {
	color: #222;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 0.8em;
	border: 1px solid #EEE;
	display: inline-block;
	font-weight: normal;
}

.images_1_of_5 .button a:hover {
	background: #f5c34c;
	color: #FFF;
}


/***** Media Quries *****/

@media only screen and (max-width: 1024px) {
	.wrap {
		width: 90%;
	}
}


/*----End-wrap-----*/


/*  Contact Form  ============================================================================= */

.contact {
	font-family: 'Open Sans', sans-serif;
	background: url(../images/bottom-bg.png) no-repeat 50% 101% #FFF;
	padding: 2em 0 2em;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child {
	margin-left: 0;
}

.span_2_of_3 {
	width: 63.1%;
	padding: 1.5%;
}

.span_1_of_3 {
	width: 29.2%;
	padding: 1.5%;
}

.span_2_of_3 h3,
.span_1_of_3 h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	color: #363638;
	text-transform: uppercase;
	padding: 0 0 0.5em 0;
}

.contact-form {
	position: relative;
}

.contact-form div {
	padding: 5px 0;
}

.contact-form span {
	display: block;
	font-size: 0.875em;
	color: #363638;
	padding-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
}

.contact-form input[type="text"],
.contact-form textarea {
	padding: 8px;
	display: block;
	width: 98%;
	border: none;
	outline: none;
	color: #363638;
	font-size: 0.8125em;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid rgba(192, 192, 192, 0.41);
	-webkit-appearance: none;
}

.contact-form textarea {
	resize: none;
	height: 120px;
}

.contact-form input[type="submit"] {
	color: #222;
	font-size: 1em;
	text-transform: uppercase;
	padding: 1em 1.5em;
	border: 1px solid #EEE;
	display: inline-block;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	background: #FFF;
	cursor: pointer;
}

.contact-form input[type="submit"]:hover {
	background: #f5c34c;
	color: #FFF;
}

.contact-form input[type="submit"]:active {
	background: #f5c34c;
	color: #FFF;
}

.company_address {}

.company_address p {
	font-size: 0.875em;
	color: #6a6a6a;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}

.company_address p span,
.company_address p span a {
	text-decoration: underline;
	color: #454545;
	cursor: pointer;
}

.map {
	margin-bottom: 15px;
}


/***** Media Quries *****/

@media only screen and (max-width: 1024px) {
	.wrap {
		width: 95%;
	}
}


/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap {
		width: 95%;
	}
	.span_2_of_3 {
		width: 94%;
		padding: 3%;
	}
	.col {
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width: 94%;
		padding: 3%;
	}
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap {
		width: 90%;
	}
	.span_2_of_3 {
		width: 94%;
		padding: 3%;
	}
	.col {
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width: 94%;
		padding: 3%;
	}
	.contact-form input[type="text"],
	.contact-form textarea {
		width: 97%;
	}
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap {
		width: 90%;
	}
	.span_2_of_3 {
		width: 90%;
		padding: 5%;
	}
	.col {
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width: 90%;
		padding: 5%;
	}
	.contact-form input[type="text"],
	.contact-form textarea {
		width: 95%;
	}
}


/*----responsive-design-----*/

@media screen and (max-width: 1440px) {
	.gallery-grid {
		width: 31.2%;
		float: left;
	}
}

@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap {
		width: 90%;
	}
	.grid2 {
		margin: 0px 34px;
	}
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap {
		width: 90%;
	}
	.grid2 {
		margin: 0px 34px;
	}
	.top-grids h2 {
		color: #FFF;
		font-size: 7em;
	}
	.top-grids {
		background: url(../images/car.png) no-repeat 84% 71% #f5c34c;
	}
	.gallery-grid {
		width: 31.3%;
	}
}

@media screen and (max-width: 1080px) {
	.top-grids h2 {
		color: #FFF;
		font-size: 6em;
	}
	.gallery-grid {
		width: 30.9%;
	}
	.services .images_1_of_5 {
		width: 29.2%;
	}
	.contact .span_1_of_3 {
		width: 100%;
		float: none;
		padding: 0;
		margin: 0 0 2em;
	}
	.contact .span_2_of_3 {
		margin: 0;
		width: 100%;
		padding: 0;
	}
	.contact {
		padding: 4em 0 4em;
	}
}

@media screen and (max-width: 1050px) {
	.gallery-grid {
		width: 30.8%;
	}
	.about-info a {
		line-height: 32px;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap {
		width: 90%;
	}
	.grid2 {
		margin: 0px 34px;
	}
	.top-grids h2 {
		color: #FFF;
		font-size: 5em;
	}
	.top-grids {
		padding: 4em 0 5em 0;
		background: url(../images/car.png) no-repeat 91% 65% #f5c34c;
	}
	.gallery-grid {
		width: 30%;
	}
	.what {
		padding: 25px 12px;
	}
	.mid-grid h3 {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 991px) {
	.mobile-no span {
		font-size: 4em;
	}
	.bottom-grids {
		padding: 3em 0 2em 0;
	}
	.mid-grid h3 {
		font-size: 2em;
	}
	.top-grids {
		padding: 3em 0 4em 0;
	}
	.mid-grids {
		padding: 3em 0 4em 0;
	}
	.top-grids h4 {
		font-size: 2em;
	}
	.about-us {
		padding: 1.5em 0em 2.5em;
	}
	.gallerys {
		padding: 1.5em 0 1.5em;
	}
	.services {
		padding: 1.5em 0 2em;
	}
	.contact {
		padding: 3em 0 3em;
	}
}

@media screen and (max-width: 900px) {
	.camera_wrap {
		height: 400px!important;
	}
	.about-info a {
		padding: 0.5em 0 0.5em 0;
	}
	.specials {
		margin-top: 1.5em;
	}
	.top-nav ul li a {
		padding: 45px 25px 40px 25px;
	}
}

@media screen and (max-width: 800px) {
	.top-nav ul li a {
		padding: 45px 15px 40px;
	}
	.top-grids {
		background-size: 414px!important;
	}
	.mid-grid {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.mid-grid:nth-child(2) {
		margin: 2em 0;
	}
}

@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap {
		width: 90%;
	}
	.grid2 {
		margin: 0px 34px;
	}
	.top-grids h2 {
		color: #FFF;
		font-size: 5em;
	}
	.top-grids {
		padding: 3em 0 5em 0;
		background: url(../images/car.png) no-repeat 91% 65% #f5c34c;
	}
	.gallery-grid {
		width: 29%;
	}
	.what {
		padding: 25px 12px;
	}
	.top-nav ul li a {
		padding: 45px 10px 40px 10px;
	}
	.mobile-no span {
		font-size: 5em;
	}
	.images_1_of_5 {
		width: 47%;
	}
	.images_1_of_5:last-child {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.gallery-grid {
		width: 100%;
		float: none;
	}
	.grid2 {
		margin: 30px 0px;
	}
	.grid21 {
		margin-top: 30px;
	}
	.gallery-grids {
		margin-bottom: 0px;
	}
	.services .images_1_of_5 {
		width: 47%;
	}
	.special-grid {
		float: none;
		width: 100%;
		margin-right: 0%;
	}
	.special-grid:nth-child(2) {
		margin: 1em 0;
	}
}

@media screen and (max-width: 767px) {
	.mobile-no span {
		font-size: 4em;
	}
}

@media screen and (max-width: 736px) {}

@media screen and (max-width: 667px) {
	.logo {
		float: none;
		text-align: center;
		padding-top: 2.3em;
		margin-top: 0em;
	}
	.top-nav {
		float: none;
	}
	.top-nav ul li {
		display: inline-block;
		float: left;
		width: 20%;
		text-align: center;
	}
	.top-nav ul li a {
		padding: 25px 0;
	}
	.about-header h3 {
		font-size: 1.5em;
	}
	.about-info a {
		line-height: 26px;
		font-size: 1em;
	}
	.top-grids {
		padding: 2em 0 3em 0;
	}
	.top-grids h3 {
		font-size: 1.5em;
		letter-spacing: 1px;
	}
	.top-grids h2 {
		font-size: 4em;
	}
	.top-grids h4 {
		font-size: 1.5em;
		letter-spacing: 1px;
	}
	.what {
		padding: 12px 17px;
	}
	.join {
		padding: 12px 40px;
	}
	.top-grids {
		background-size: 335px!important;
	}
	.mid-grids {
		padding: 2.5em 0 3em 0;
		background: url(../images/bottom-bg.png) no-repeat 50% 102% #222;
	}
	.social-links ul li a {
		font-size: 0.8em;
		letter-spacing: 1px;
	}
	.mobile-no span {
		font-size: 3em;
		letter-spacing: 5px;
	}
	.footer-logo a {
		font-size: 2.5em;
	}
	.copy-right p {
		font-size: 0.9em;
		margin-top: 1em;
	}
	.copy-right a {
		color: #222;
		margin: 0em 0;
		display: inline-block;
	}
	.testmonials {
		padding: 2.5em 0 2.5em 0;
		background: url(../images/bottom-bg.png) no-repeat 50% 111% #222;
	}
	.about-us {
		padding: 1em 0em 1.5em;
	}
	.bottom-grids {
		padding: 3em 0 3em 0;
	}
	.gallerys h3 {
		font-size: 1.5em;
	}
	.gallerys {
		padding: 1em 0 1.5em;
	}
	.services h4 {
		font-size: 1.5em;
	}
	.span_2_of_3 h3,
	.span_1_of_3 h3 {
		font-size: 1.5em;
	}
	.contact {
		padding: 2em 0 2em;
		background: url(../images/bottom-bg.png) no-repeat 50% 102% #FFF;
	}
	.services {
		background: url(../images/bottom-bg.png) no-repeat 50% 101.5% #FFF;
	}
	.testmonial-grid h3 {
		font-size: 1.5em;
	}
	.specials-heading h3 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 600px) {
	.camera_wrap {
		height: 330px!important;
	}
	.top-grids {
		background: url(../images/car.png) no-repeat 102% 70% #f5c34c;
	}
	.mid-grid h3 {
		font-size: 1.8em;
		letter-spacing: 2px;
	}
	.mid-grid h4 {
		font-size: 1.3em;
		letter-spacing: 1px;
	}
	.copy-right p {
		font-size: 0.8em;
		letter-spacing: 1px;
		line-height: 26px;
	}
	.images_1_of_5 .button a {
		font-size: 0.7em;
	}
	.bottom-grids {
		padding: 2.5em 0 2.5em 0;
	}
}

@media screen and (max-width: 568px) {
	.projects-bottom-paination {
		padding: 14px 0;
	}
}

@media screen and (max-width: 480px) {
	.copy-right p {
		padding: 0 1em;
	}
	.services .images_1_of_5 {
		width: 100%;
		margin: 2em 0 0;
		padding: 0;
	}
	.services {
		background: url(../images/bottom-bg.png) no-repeat 50% 101% #FFF;
	}
	.services h4 {
		padding: 0.5em 0 0 0;
	}
	.mobile-no span {
		font-size: 2.5em;
		letter-spacing: 2px;
	}
	.testmonials {
		background: url(../images/bottom-bg.png) no-repeat 50% 109% #222;
	}
}

@media screen and (max-width: 440px) {
	.top-nav ul li {
		float: none;
		width: 100%;
	}
	.top-nav ul li a {
		padding: 20px 0;
	}
	.about-info a {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 414px) {
	.social-links ul li a {
		margin: 0 .5em;
	}
}

@media screen and (max-width: 384px) {
	.camera_wrap {
		height: 250px!important;
	}
	.top-grids h3 {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 375px) {
	.social-links ul li a {
		margin: 0 .4em;
	}
}

@media screen and (max-width: 320px) {
	.top-grids h3 {
		font-size: 1.15em;
	}
	.top-grids h2 {
		font-size: 3em;
	}
	.social-links ul li a {
		margin: 0 .4em;
		font-size: 0.7em;
		letter-spacing: 0.5px;
	}
	.mobile-no span {
		font-size: 2em;
		letter-spacing: 1px;
	}
	.copy-right p {
		padding: 0 0em;
		letter-spacing: 0.5px;
	}
}

.icon {
    height: 60px;
}