<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>SHRI KRISHANA TRAVELS| Contact</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1200);
			});
		});
	</script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="app/contact.module.js"></script>
	<script src="app/contact.controller.js"></script>
</head>

<body>
	<!---strat-wrap----->

	<!---strat-header----->
	<div class="header" id="top">
		<div class="wrap">
			<!---start-logo---->
			<div class="logo">
				<!--<a href="index.html"><img src="images/logo1.png" title="logo" /></a>-->
				<a href="index.html"><span style="color:#FFC809; font-size:40px">Shri Krishana Tour and Travels</span></a>
			</div>
			<!---End-logo---->
			<!---start-top-nav---->
			<div class="top-nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<!--<li><a href="whatwe.html">What we do</a></li>-->
					<!--<li><a href="services.html">Services</a></li>-->
					<li class="active"><a href="contact.html">Contact</a></li>
					<div class="clear"> </div>
				</ul>
			</div>
			<div class="clear"> </div>
			<!---End-top-nav---->
		</div>
	</div>
	<!---End-header----->
	<!---start-contnet---->
	<div class="content">
		<!---start-contact----->
		<div class="contact" ng-app="contact">
			<div class="wrap">
				<div class="section group">
					<div class="col span_1_of_3">
						<div class="contact_info">
							<h3>Find Us Here</h3>
							<div class="map">
								<!--<iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>-->
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3516.0091625590057!2d76.79264191508496!3d28.20703420996147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d487106708a25%3A0xeafdac21f8ebb990!2sSHRI+KRISHANA+HONDA!5e0!3m2!1sen!2sin!4v1529240198356" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
						<div class="company_address">
							<h3>Company Information :</h3>
							<p>Sohna Road, Dharuhera Bhiwadi Road,</p>
							<p>Bhiwadi - 301019, Near Hanuman Ji Temple</p>
							<p>INDIA</p>
							<p>Phone:(+91) 8569874941</p>
							<!--<p>Fax: (000) 000 00 00 0</p>-->
							<p>Email: <span><a href="mailto:travel.shrikrishana@gmail.com">travel.shrikrishana@gmail.com</a></span></p>
							<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
						</div>
					</div>
					<div ng-controller="contactCtrl" class="col span_2_of_3">
						<div class="contact-form">
							<h3>Contact Us</h3>
							<form>
								<div>
									<span><label>NAME</label></span>
									<span><input name="userName" type="text" class="textbox" ng-model="name"></span>
								</div>
								<div>
									<span><label>E-MAIL</label></span>
									<span><input name="userEmail" type="text" class="textbox" ng-model="email"></span>
								</div>
								<div>
									<span><label>MOBILE</label></span>
									<span><input name="userPhone" type="text" class="textbox" ng-model="phone"></span>
								</div>
								<div>
									<span><label>SUBJECT</label></span>
									<span><textarea name="userMsg" ng-model="message"> </textarea></span>
								</div>
								<div>
									<span><input type="submit" ng-click="send()"></span>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!---End-contact----->
		<div class="bottom-grids">
			<div class="wrap">
				<div class="social-links">
					<ul>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Google+</a></li>
						<li><a href="#">Linkedin</a></li>
					</ul>
				</div>
				<div class="mobile-no">
					<a href="tel:+918569874941"><span>+91 8569874941</span></a>
				</div>
				<div class="mobile-no">
					<a href="tel:+919416174941"><span>+91 9416174941</span></a>
				</div>
				<div class="footer-logo">
					<a href="#">SHRI KRISHANA</a>
				</div>
				<div class="copy-right">
					<p>Copyright &copy; 2013 <a href="http://www.tarkshala.com">Tarkshala</a>. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
				</div>
				<div class="top-to-page">
					<a href="#top" class="scroll"> </a>
					<div class="clear"> </div>
				</div>
			</div>
		</div>
	</div>
	<!---End-contnet---->
	</div>
	<!---End-wrap----->
</body>

</html>